---
import Layout from '../layouts/Main.astro'
---

<Layout title="About Me" description="About Andy Axton">
    <div class="max-w-3xl mx-auto">
        <img class="w-96 h-96" src="hacking.JPG" />
        <h1 class="text-4xl">Self taught</h1>
        <p></p>
    </div>
</Layout>
