---
import Social from '../components/Social.astro'
import Layout from '../layouts/Main.astro'

import { getCollection } from 'astro:content'
import BlogPost from '../components/BlogPost.astro'
import Button from '../components/Button.astro'
const posts = (await getCollection('blog'))
    .filter((post) => !post.data.draft)
    .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<Layout title="Andy Axton" description="Andy Axton's personal website">
    <div
        class="grid grid-cols-1 sm:grid-cols-5 justify-items-center gap-10 mt-12 mb-12"
    >
        <div class="col-span-2 max-w-xs">
            <img src="me-gen.png" />
        </div>
        <div class="col-span-3">
            <h1 class="text-3xl font-medium mb-4">Hi, I'm Andy Axton</h1>
            <p class="text-lg leading-relaxed text-gray-800 font-[360] mb-5">
                I am a self-taught software engineer with experience working
                across organizations of all sizes. My passion lies in crafting
                high-quality, user-focused experiences while contributing to
                scalable and efficient systems. <br /><br />As a “big picture”
                thinker, I thrive in roles that involve infrastructure,
                developer tools, architecture, and optimizing page performance.
                I bring a strong ability to scale codebases and create solutions
                that balance speed with maintainability.
            </p>
            <Social />
        </div>
    </div>
    <section class="mb-20">
        <h2 class="text-2xl font-medium mb-4">Latest Posts</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {posts.map((post) => <BlogPost post={post} />)}
        </div>
    </section>
</Layout>
