---
import FormattedDate from './FormattedDate.astro'

const { post } = Astro.props
---

<a href={`/blog/${post.slug}/`} class="block h-full">
    <div
        class="flex flex-col items-start bg-white border-4 border-black p-4 rounded-none h-full"
    >
        <img
            width={720}
            height={360}
            src={post.data.heroImage}
            alt=""
            class="w-full aspect-video border-2 border-black bg-slate-900"
            style={`object-fit: ${post.data.heroObjectFit || 'cover'};`}
        />
        <h4 class="text-2xl font-medium mt-4 mb-2">
            {post.data.title}
        </h4>
        <p class="text-sm mt-auto px-2 py-1 border-2 border-black">
            <FormattedDate date={post.data.pubDate} />
        </p>
    </div>
</a>
