---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import Container from './Container.astro'
import Button from './Button.astro'
---

<header class="py-8 mt-6">
    <Container>
        <nav class="flex items-center">
            <div class="header flex space-x-12">
                <HeaderLink href="/">Home</HeaderLink>
                <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
                <HeaderLink href="/about">About</HeaderLink>
            </div>
            <a href="/axton-resume.pdf" target="_blank" class="ml-auto">
                <Button>Resume</Button>
            </a>
        </nav>
    </Container>
</header>
