<ul class="inline-flex space-x-4">
  <li>
    <a class="text-gray-700 inline-flex space-x-2 items-center" href="twitter.com/axtonandy">
      <img class="w-5 h-5" src="github.svg" alt="x">
      <span>@a-axton</span>
    </a>
  </li>
  <li>
    <a class="text-gray-700 inline-flex space-x-2 items-center" href="twitter.com/axtonandy">
      <img class="w-5 h-5" src="linkedin.svg" alt="x">
      <span>Andy Axton</span>
    </a>
  </li>
  <li>
    <a class="text-gray-700 inline-flex space-x-2 items-center" href="twitter.com/axtonandy">
      <img class="w-4 h-4" src="x.svg" alt="x">
      <span>@axtonandy</span>
    </a>
  </li>
</ul>